@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web Application</h1>
    <p class="lead">Use the tabs to nagivate around the Game website and view Players, and characters</p>

</div>
