@{
    ViewData["Title"] = "Privacy";
}

<h1> @ViewData["Title"] </h1>
<div class="jumbotron">
    <p class="lead">Use the tabs to nagivate around the application to view item details, customer information and invoices</p>
    </div>
